body {
    text-align: center;
    background-color: rgb(235, 203, 190);
    margin: 50px;
    color: rgb(110, 69, 66);
  }
  
  img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
  
  }
  
  h1 {
      font-family: 'Osward';
      text-align: center; /* proba */
      color: rgb(110, 69, 66);
    }
  
    p {
      font-family: 'Fira Sans';
      text-align: center;
      color: #2d2e2d;
    }
  
    a {
      color: rgb(167, 1, 78);
      text-decoration: none;
    }
  
    a:hover {
      text-decoration: underline;
    }
  
    #todays-challenge {
      color: orange;
      font-weight: bold;
      font-size: 52px;
    }